* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background: #635854;
    padding: 12px 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

}

.navlink {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: white;
}

.phone {
    text-align: end;
}

.phone-style {
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.phone-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
}

/* ***************************************main */

.main {
    max-width: 1440px;
    margin: auto;
    padding-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.house path {
    opacity: 0;
    cursor: pointer;
}

.house path:hover {
    opacity: 1;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;

}

.main-title {
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.counter-up,
.counter-down {
    background-color: white;
    border: none;
    cursor: pointer;
}

.counter-item {
    color: #635854;
    font-size: 75px;
    margin: 35px;
}

.button-primary {
    background: #3596F5;
    border-radius: 6px;
    padding: 16px 36px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

/* *****************************************770px */

@media (max-width: 770px) {
    .navlink {
        flex-wrap: wrap;
    }

    .logo img {
        width: 70%;
    }

    .link {
        font-size: 12px;
    }

    .phone-style {
        font-size: 12px;
    }

    .phone-link {
        font-size: 12px;
    }
}

/* ******************************************426px */

@media (max-width: 426px) {
    .link {
        border: 1px solid #3595f594;
    }

    .link {
        font-size: 10px;
    }

    .phone-style {
        font-size: 10px;
    }

    .phone-link {
        font-size: 10px;
    }
}